*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #0d5086;
    width: 100vw;
    padding: 0 15px 0 12px;

}

.title {
    font-family: sans-serif;
    color: white;
    width: 40vw;
    text-transform: uppercase;

}


.form1 {
    width: 20vw;
}

.form2 {
    width: 20vw;

}

.lab {
    color: white;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.bout {
    padding: 5px;
    background: #00000000;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#email {
    width: 15vw;
}

.main_table{
    width: 100vw;
    height: 60vh;
   
}

.main_table tr{
    padding: 10px;
    
}

.descri {
    width: 50vw;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.0vw;
}

.para0{
    color: #035699;
}

.para{
    color: #0d5086;
    font-weight: 200;
}


.création{
    width: 48vw;
}
.compte {
    font-family: sans-serif;
    color: #0d5086;
    font-size: xx-large;
}

.création p {
    margin-top: -3px;
    color: #035699;
}


#check3{
    width: 100%;
    padding: 5px;
}

#check4{
    width: 80%;
    margin-left: 2vw;
    padding: 5px;
}

#check5{
    width: 92%;
    padding: 5px;
}

#check6{
    width: 92%;
    padding: 5px;
}

#check7{
    width: 92%;
    padding: 5px;
}

.sous_title{
    font-family: sans-serif;
    font-size: 16px;
    color: #035699;
}

#day{
    padding: 5px;
}

#month{
    padding: 5px;
}

#year{
    padding: 5px;
    margin-left: 330px;
}

.lab_mal{
    font-family: sans-serif;
    font-weight: 600;
    color: #035699;
}

.lab_femme{
    font-family: sans-serif;
    font-weight: 600;
    color: #035699;
}

.col_para{
    padding-right: 35px;
}

.boutton_col button{
    color: white;
    width: 100%;
    background: green;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
}
.separator{
    height: 1px;
    width: 92%;
    background: gray;
}

.lien_col a{
    color: blue;
}

#image{
    background: url(ksenia-gashkova-QAND9huzD04-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}